---
layout: base.njk
---

<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-2 mb-4">{{ title }}</h1>
    <div class="content">
      {{ content | safe }}
    </div>
  </div>
</section>