---
title: Projects
layout: base.njk
---

<h1 class="title is-3 mb-4">Projects</h1>

<div class="columns is-multiline is-variable is-6">
  {% for project in collections.projects %}
    <div class="column is-half-tablet">
      <div class="card is-flex is-flex-direction-column is-full-height">
        <div class="card-image">
          {% if project.data.image %}
            <figure class="image">
              <img src="{{ project.data.image }}" alt="{{ project.data.title }}">
            </figure>
          {% endif %}
        </div>
        <div class="card-content">
          <h2 class="title is-4 mb-2">{{ project.data.title }}</h2>
          <p class="subtitle is-6 has-text-grey-darker mb-4">{{ project.data.summary }}</p>
          {% if project.data.tools %}
            <div class="tags is-flex is-flex-wrap-wrap">
              {% for tool in project.data.tools %}
                <span class="tag is-info">{{ tool }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>