<footer class="has-border-top has-text-grey-darker has-text-centered pt-6">
  <div class="is-flex is-justify-content-center">
    <span class="mr-4">© 2025 William Sweet. All rights reserved.</span>
    <a href="/privacy" class="has-text-grey-darker">Privacy</a>
  </div>
</footer>