<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/favicon.png" alt="WJS logo" class="image is-32x32">
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      {% include "partials/nav.njk" %}
    </div>
  </div>
</nav>