<a href="/" class="navbar-item">Home</a>
<a href="/about/" class="navbar-item">About</a>
<a href="/projects/" class="navbar-item">Projects</a>
<a href="/freelance/" class="navbar-item">Freelance</a>
<a href="/contact/" class="navbar-item button is-rounded">
  Contact
</a>