<div id="nav-links" class="navbar-end is-hidden-touch">
  <a href="/" class="navbar-item">Home</a>
  <a href="/about/" class="navbar-item">About</a>
  <a href="/projects/" class="navbar-item">Projects</a>
  <a href="/freelance/" class="navbar-item">Freelance</a>
  <a href="/contact/" class="navbar-item btn-gradient-purple-dream">
    Contact
  </a>
</div>

<div class="navbar-burger" data-target="nav-links">
  <span></span>
  <span></span>
  <span></span>
</div>